body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background:url(../img/5553.jpg);
    background-size:91%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #333;
}

.container {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 50%;
}

.form-section,
.info-section {
    width: 45%;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

input[type="number"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
    color: #333;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #004494;
}

.info-section label {
    margin-bottom: 15px;
    display: block;
    font-size: 18px;
}

#currentCash {
    font-size: 18px;
    color: #007bff;
    font-weight: bold;
    text-align: center;
    border: none;
    background-color: #f7f8fc;
}
